@font-face {
  font-family: 'iconfont';  /* project id 240718 */
  src: url('//at.alicdn.com/t/font_z70s0hsyxbo9lik9.eot');
  src: url('//at.alicdn.com/t/font_z70s0hsyxbo9lik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_z70s0hsyxbo9lik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_z70s0hsyxbo9lik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_z70s0hsyxbo9lik9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop1:before {
    content: "\e6bd";
}

.icon-loop:before {
    content: "\e819";
}

.icon-loop-random:before {
    content: "\e62a";
}

.icon-play:before {
    content: "\e778";
}

.icon-pause:before {
    content: "\e640";
}

.icon-next:before {
    content: "\e603";
}
.icon-lyrics:before {
    content: "\e671";
}
.icon-wxin:before {
    content: "\e691";
}
